@media(max-width:768px) {
    .logo{
        position: relative;
        bottom: 37px;
    }
    .navbar-toggler{
        position:relative ;
        bottom: 37px;
    }
    .navbar-toggler-icon{
        background-color: white;
    }
    .navbar-collapse{
        position:relative ;
        bottom: 60px;
    }
    .ul{
        background-color: rgb(6, 6, 129);

        left: inherit;
        right: 20px !important;
        margin: 0;
        width: 110% !important;
        padding-left: 10%;
    }
    .carousel img{
        height: 500px;
        filter:opacity(100%);
        filter:contrast(5 0%)
    }
    .h11{
        font-size: 4em !important;

        margin: auto;
        right: 14%;

    }
    .h22211{
        font-size: 4em !important;
        margin: auto;
        right: 14%;
    }
    .h3lllll{

        display: none;
    }
    .po{
        width: 100% !important;
        margin: auto;
        display: none;
    }
    .boutons{
        margin: auto;
        align-self: center;
        position: relative;
        top: 30px;
        left: 30%;
    }
    .p1{
        text-align: justify;
    }
    .poiiii{
        margin-bottom: 30px;
    }
    .temoignage{
        height: 800px;
    }
    .aproposl h1{
        font-size: 2em !important;

    }
    .apropotitre{
        position: relative;
        text-align: center;
        bottom: 270px !important;
        width: 60% !important;
        font-weight: bold;
        left: 45% !important;
    }
    .img1{
        display: none;
    }

    .img22{
        position: relative;

        width: 250px !important;
        margin: auto;
        left: 15%;

    }
    .hhhhh{
        position: relative;
        top: 140px;
        margin-bottom: 60px;
    }
}
